@model dotProcMan.Models.ShowOutputViewModel

@{
    ViewData["Title"] = "Output";
}

<h1 class="mb-3">@Model.ProcessName - Output</h1>

<pre class="output-box pre-scrollable">
    @foreach(var row in Model.Rows)
    {
<span class="output-type-@row.Type.ToString().ToLower()"><span class="font-weight-bold">@row.Timestamp:</span> @row.Data</span> @Environment.NewLine
    }
</pre>

<form method="post" asp-action="SendInput">
    <input type="hidden" name="id" value="@Model.ProcessID" />
    <div class="input-group mb-3">
        <input type="text" name="data" class="form-control" placeholder="Input command" aria-label="Input command" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="button-addon2">Send</button>
        </div>
    </div>
</form>